footer{
    .menu{
        background-color: $azul-primario;
        ul{
            list-style: none;
            overflow: hidden;
            margin-bottom: 0;
            padding: 0;
            li{
                float: left;
                a{
                    color: #fff;
                    display: inline-block;
                    padding: 1em 1.25em;
                    font-size: 0.87em;
                    text-decoration: none;
                    transition: 500ms;
                    &:hover{
                        text-decoration: none;
                        background-color: $verde;
                        transition: 500ms;
                    }
                }
            }
        }
    }
    .copyright{
        p{
            font-size: 0.87em;
            color: #000;
            padding: 0.625em;
            text-align: center;
            margin: 0;
        }
    }
}