header{
    .logo{
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        a{
            display: inline-block;
        }
    }
    .redes-sociales{
        text-align: right;
        line-height: 5em;
        a{
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            text-align: center;
            line-height: 2.5em;
            display: inline-block;
            background-color: $azul-primario;
            color: #fff;
            margin-left: 1.25em;
            transition: 500ms;
            &:hover{
                background-color: $verde;
                transition: 500ms;
            }
        }
    }
    .menu{
        background-color: $azul-primario;
        margin-bottom: 1.25em;
        padding: 0;
        ul{
            list-style: none;
            overflow: hidden;
            margin-bottom: 0;
            padding: 0;
            li{
                float: left;
                a{
                    color: #fff;
                    display: inline-block;
                    padding: 1em 1.25em;
                    font-size: 0.87em;
                    text-decoration: none;
                    transition: 500ms;
                    &:hover{
                        text-decoration: none;
                        background-color: $verde;
                        transition: 500ms;
                    }
                }
            }
        }
    }
}