.main,
.sidebar{
    .titulo-seccion{
        h3{
            font-family: $font;
            font-size: 1.5em;
            line-height: 1.5em;
            font-weight: normal;
            color: $gris-oscuro;
            padding-bottom: 0.02em;
            border-bottom: 4px solid $verde;
            margin-bottom: 1.25em;
        }
    }
}
.main{
    .posts{
        .post{
            margin-bottom: 1.875em;
            .contenedor{
                background-color: #fff;
                box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);
                .thumb{
                    img{
                        width: 100%;
                        vertical-align: top;
                        height: auto;
                    }
                }
                .info{
                    padding: 1.25em;
                    .titulo{
                        line-height: 1.125em;
                        margin-bottom: 1.25em;
                        font-size: 1.125em;
                        font-weight: bold;
                        a{
                            color: $gris-oscuro;
                            text-decoration: none;
                        }
                    }
                    .titulo{
                        color: $gris-claro;
                        font-size: 1.25em;
                        margin-bottom: 1.25em;
                    }
                    .extracto{
                        color: $texto;
                        font-size: 1em;
                        height: 8.125em;
                        max-height: 8.125em;
                        line-height: 1.75em;
                        margin-bottom: 1.25em;
                        overflow: hidden;
                        &:hover{
                            overflow: auto;
                        }
                    }
                    .categorias{
                        ul{
                            list-style: none;
                            li{
                                display: inline-block;
                            }
                        }
                        a{
                            color: $gris-claro;
                            font-size: 1em;
                            font-weight: bold;
                            margin-right: 1.25em;
                            text-decoration: none;
                            &:hover{
                                color: $azul-primario;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .paginacion {
        > div{
            padding: 0;
        }
        ul{
            list-style: none;
            overflow: hidden;
            margin-bottom: 1.25em;
            font-size: 1em;
            li{
                float: left;
                background-color: $gris-oscuro;
                color: #fff;
                margin-right: 0.62em;
                font-size: 1.125em;
                line-height: 1.125em;
                &.disabled{
                    padding: 0.62em 0.937em;
                    font-size: 1.125em;
                    line-height: 1.25em;
                }
                a{
                    background-color: $azul-primario;
                    color: #fff;
                    line-height: 1.25em;
                    display: inline-block;
                    padding: 0.62em 0.937em;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                        background-color: $azul-secundario;
                    }

                }
            }
        }
        
    }
        .wp-pagenavi{
            margin-bottom: 1.25em;
            .pages,
            span{
                background-color: $gris-claro;
                color: #fff;
                margin-right: 0.62em;
                font-size: 1.125em;
                line-height: 1.125em;
                padding: 0.62em 0.937em;
            }
            a{
                background-color: $azul-primario;
                color: #fff;
                font-size: 1.125em;
                display: inline-block;
                padding: 0.62em 0.937em;
                text-decoration: none;
                margin-right: 0.62em;
                &:hover{
                    text-decoration: none;
                    background-color: $azul-secundario;
                }

            }
        }
}